.btn {
  padding: 2px 30px 2px 0;
  margin-left: 12px;
  transition: padding-left 300ms;
}

.btn:hover, .btn:focus {
  border-left: 5px solid #60C2F9;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  transition: padding-left 300ms;
  cursor: pointer;
}
